*{
    margin: 0px;
    padding: 0px;
}

nav{
    height: 8vh;
    background-color: rgb(63, 21, 63);
    color: white;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    padding: 0px 12px;
}

nav ul{
    list-style: none;
}

nav ul li{
    text-decoration: none;
}

.gameContainer{
    display: flex;
    justify-content: center;
    padding-top: 8vh;
    height: 78vh;
    /* background-color: yellow; */
}

.container{
    display: grid;
    grid-template-columns: repeat(3,6vw);
    grid-template-rows: repeat(3,6vw);
}

.box{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    cursor: pointer;
    background-color: rgb(250, 229, 250);
}

.boxtext{
    font-size: 5vw;
}

.gameInfo{
    padding: 0 50px;
}

.imgbox img{
    display: none;
}

footer{
    height: 6vh;
    font-size: 1.2rem;
    background-color: rgb(63, 21, 63);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Utility classes */
.bt-0{
    border-top: none;
}

.bb-0{
    border-bottom: none;
}

.bl-0{
    border-left: none;
}

.br-0{
    border-right: none;
}