*{
    margin: 0px;
    padding: 0px;
}

nav{
    height: 8vh;
    background-color: rgb(63, 21, 63);
    color: white;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 0px 12px;
}

nav ul{
    list-style: none;
}

nav ul li{
    text-decoration: none;
}

.gameContainer{
    display: flex;
    justify-content: center;
    padding-top: 8vh;
    height: 78vh;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,7vw);
    grid-template-rows: repeat(3,7vw);
    padding:0px 20px;
}

.box{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    cursor: pointer;
    background-color: rgb(250, 229, 250);
}

.boxtext{
    font-size: 6vw;
}

.gameInfo{
    padding: 0 50px;
    font-size: 1.2rem;
}

.info{
    font-size: 2em;
}

#reset{
    border: 2px solid black;
    background-color: rgb(210, 168, 250);
    font-size: 1.4rem;
    border-radius: 9px;
    padding: 3px;
    margin:20px 20px;
}

#reset:hover{
    cursor: pointer;
    background-color: rgb(201, 146, 252);
}


.imgbox img{
    margin-top: 4vh;
    width: 0px;
    transition: width 1s ease-in-out;
}

footer{
    height: 6vh;
    font-size: 1.2rem;
    background-color: rgb(63, 21, 63);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Utility classes */
.bt-0{
    border-top: none;
}

.bb-0{
    border-bottom: none;
}

.bl-0{
    border-left: none;
}

.br-0{
    border-right: none;
}

@media only screen and (max-width: 900px){
    .gameContainer{
       flex-wrap: wrap;
    }

    .container{
        grid-template-columns: repeat(3,10vw);
        grid-template-rows: repeat(3,10vw);
    }

    .gameInfo{
        font-size: 13px;
        margin-top: 20px;
    }

    .boxtext{
        font-size: 6vw;
    }

    .imgbox img{
        margin-top: 3vh;
        width: 120px;
    }

    #reset{
        font-size: 1.2rem;
        border-radius: 9px;
        padding: 2px;
        margin:10px 10px;
    }
    
}

@media only screen and (max-width: 550px){
    .container{
        grid-template-columns: repeat(3,16vw);
        grid-template-rows: repeat(3,16vw);
    }

    .boxtext{
        font-size: 8vw;
    }

    .imgbox img{
        margin-top: 2vh;
        width: 90px;
    }

    #reset{
        font-size: 1.1rem;
        border-radius: 6px;
        padding: 2px;
        margin:8px 8px;
    }
}

@media only screen and (max-width: 380px){
    .container{
        grid-template-columns: repeat(3,19vw);
        grid-template-rows: repeat(3,19vw);
    }

    .boxtext{
        font-size: 13vw;
    }
}